# Web UI
streamlit>=1.38.0

# Alpaca APIs
alpaca-trade-api>=3.2.0
alpaca-py==0.20.0

# Data Handling
pandas>=2.2.2
numpy>=1.26.4

# HTTP
requests>=2.32.3

# Plotting (falls später benötigt)
matplotlib>=3.9.2
